body{
	font-family: roboto;
	background: #FEAC5E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#container{
	background:#f7f7f7;
	box-shadow: 0 0 5px rbga(0,0,0,0.7);
	width:500px;
	margin: 100px auto;
	border-radius: 10px;
    border:2px solid #2980b9;

}

.completed{
	color:grey;
	text-decoration: line-through;
}

h1{
	background: #2980b9;
	color: white;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
	margin: 0;
}

ul{
	list-style: none;
	margin: 0;
	padding:0;
}

li{
	background: white;
	height: 40px;
	line-height: 40px;
	color:#666;
	text-transform: capitalize;
}

li:nth-child(2n){
	background:	#e0e1e2;
}

input{
	font-size: 18px;
	background: #e0e1e2;
	width: 100%;
	padding: 13px 12px 13px 20px;
	box-sizing: border-box;
	color: #2980b9;
	border: 3px solid rgba(0,0,0,0);
}

input:focus{
	background: white;
	border: 3px solid #2980b9;
	outline: none;
}

.fa-plus-circle{
	float: right;
}

span{
	background: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	opacity: 0;
	transition: 0.2s linear;
}

li:hover span{
	width: 40px;
	opacity: 1;
}